@model Labores.Entities.Labor

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Labor</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Título)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Título)
            @Html.ValidationMessageFor(model => model.Título)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Instrucciones)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Instrucciones)
            @Html.ValidationMessageFor(model => model.Instrucciones)
        </div>
           <div class="editor-label">
            @Html.LabelFor(model => model.Materiales)
        </div>
        
        <div id="Materiales" class="editor-field">
            @Html.EditorFor(model => model.Materiales)
       
        </div>
        <div id="nuevosMateriales"></div>   
                  <input id="addMaterial" type="button" value="AñadirMaterial" />
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
    $("#addMaterial").on('click', function () {
  

        $.ajax({
            async: false,
            url: '/Home/AñadirMaterial'
        }).success(function (partialView) {

            $('#nuevosMateriales').append(partialView);

        });
    });

</script>
}

