@model Labores.Entities.Labor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Labor</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Título)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Título)
    </div>
   
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Instrucciones)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Instrucciones)
    </div>
     <div class="display-label">
         @Html.DisplayNameFor(model => model.Materiales)
    </div>
        <div class="display-field">
        @Html.DisplayFor(model => model.Materiales)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
